
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities; 
 



.front {
  display: block;
  white-space: nowrap;
  border-right: 2px solid white; 
  animation : blink 2s infinite alternate steps(19);  
  overflow: hidden;
} 


@keyframes blink { 
  from { width: 0% } 
  to{width: 100%;} 
}   
 

nav{
  width: 100%;
}

@media (max-width: 1020px) { 

  .list-lg{
    display: none;
  } 

  .bg-text{
    font-size: 5rem;
  } 
  
  .text-x{
    font-size: 2.5rem;
    top: 1rem;
  } 

  .lista{
    position: fixed; 
    width: 100%;
    z-index: 1; 
    margin-top: 5rem;
  } 


  nav{
    position: fixed;  
    z-index: 1; 
  } 
} 

@media (max-width: 768px) { 

  .list-lg{
    display: none;
  } 
}